* {
  box-sizing: border-box;
}
.index {
  border-style: ridge;
  border-color: turquoise;
  border-width: 35px;
  background-image: url("../images/movie-918655__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  animation: myFadeIn 4s ;
  margin: 0px;
}
.hidden {
  display: none;
}
table {
  margin-top: 20px;
}
fieldset {
  border: solid 3px #DDD !important;
  padding: 0 10px 10px 10px;
  border-bottom: none;
}
legend {
  width: auto !important;
  border: none;
  font-size: 14px;
}
.contact {
  position: fixed;
  bottom: 10;
  right: 10;
}
.buttonsRow {
  margin-bottom: 10px;
}
@keyframes myFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
